<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%t{14}]){faint} %clr(%-40.40logger{39}%line){cyan} %clr(:){faint} %m%n%wex"/>

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--Pattern>%d{HH:mm:ss.SSS} [%thread] [%X{RequestId}] [%X{RequestIP}] [%X{Service}] %-5level %logger{36} - %msg%n</Pattern-->
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.directory}/m-svc.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${log.directory}/m-svc.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level ${PID} --- [%thread] %logger{39} %line : [%X{RequestId}] [%X{RequestIP}] [%X{Service}] %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG"/>

    <logger name="org.apache.commons.beanutils.BeanUtils" level="WARN"/>
    <logger name="org.apache.commons.beanutils.converters.StringConverter" level="WARN"/>

    <!-- had to add after including spark -->

    <root level="DEBUG">
        <appender-ref ref="${log.media}"/>
    </root>
</configuration>